{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"content="width=device-width,initial-scale=1,
shrink-to-fit=no">
  <title>Pizzeria</title>
  {%bootstrap_css%}
  {%bootstrap_javascript jquery='full'%}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pizzas/site.css' %}" />

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">

    <a class="navbar-brand" href="{% url 'pizzas:index'%}">
    Rachel's Pizzeria</a>  

    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto"> 
      <li class="nav-item"><a class="nav-link" href="{% url 'pizzas:pizzas'%}">
      Pizzas</a></li>
    </ul>
    
  </nav>

  <main role="main" class="container">

    {% block page_header %}{% endblock page_header %}

    {% block content %}{% endblock content %}
  </main>

 </body>
 </html>

    