{% extends "pizzas/base.html" %}

{% block page_header %}

<p>
  {% load static %} <img src="https://source.unsplash.com/1600x475/?pizza" class="img-fluid" alt="Responsive image" />
</p>

<div class="jumbotron text-center">
  
    <h1 class="display-3">{{ Pizza }}</h1>
    
  <body style="background-color:gainsboro;"></body>

    <p<h3 class="lead">Try our world-famous pizza at Rachel's Pizzeria! Check
      out our pizzas and leave comments on your favorites!
      
      <br></br>1302 Bagby Ave. Waco, TX</br>
      (708) 897-1571</br></br>
    </h3></p>

    <a class="btn btn-danger btn-lg btn-primary text-center" href="{% url 'pizzas:pizzas' %}"
   role="button">View Pizzas &raquo;</a>
 </div>

{% endblock page_header %}

{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>upload imagae</title>
</head>
<body>

<p><h1>Django Uploading Images</h1></p>
<p><h4>pip install Pillow</h4></p>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>

{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}
</body>
</html>