{% extends "pizzas/base.html" %}

{% block page_header %}

<p>
  {% load static %} <img src="https://source.unsplash.com/1600x600/?pizza" class="img-fluid" alt="Responsive image" />
</p>

<div class="jumbotron text-center">
  
    <h1 class="display-3">{{ Pizza }}</h1>
    
  <body style="background-color:gainsboro;"></body>

    <p<h3 class="lead">Try our world-famous pizza at Rachel's Pizzeria! Check
      out our pizzas and leave comments on your favorites!
    </h3></p>

    <a class="btn btn-danger btn-lg btn-primary text-center" href="{% url 'pizzas:pizzas' %}"
   role="button">View Pizzas &raquo;</a>
 </div>

{% endblock page_header %}

{% load bootstrap4 %}

