
{% extends 'pizzas/base.html' %}

{% block page_header %}
  <h1 class="display-1">{{ pizza }}</h1>
{% endblock page_header %}
  

{% block content %}

<h3><p>Toppings</p></h3>
  
{% for topping in toppings %}
<h5><p>{{ topping.topping_name }}</p></h5>
  
   {% empty %}
     <p>There are no toppings on this pizza!</p>
   {% endfor %}    
   

<p>
  {% load static %}
  <img src="{{ pizza.image.url }}">
</p>

<h4>
  <p><a href="{% url 'pizzas:new_comment' pizza.id %}">Comment</a></p>
</h4>

<h3><p>Comments</p></h3>

{% for comment in comments %}
<p>{{ comment.comment_name }}</p>

   {% empty %}
     <p>There are no comments on this pizza.</p>
   {% endfor %}

<div>
  <body style="background-color:gainsboro;"></body>
</div>
    
{% endblock content %}